body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7s34kJ5h7oaTF1YYSDLfrr26dAD9x93c67A&usqp=CAU);
    background-size: cover;
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 150px;
 }

img {
    border-radius: 5%;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5%;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    width: 300px;
    height: 380px;
  }

  .flex-container {
      display: flex;
  }

  .zoom:hover {
      transform: scale(1.3);
  }

  .test {
      text-align: center;
      text-decoration: underline;
      font-size: 500%;
      font-style: italic;
  }


